<h1><%= t('views.common.title_index', name: Report.model_name.human) %></h1>
<%= link_to t('views.common.title_new', name: Report.model_name.human), new_report_path %>

<% @reports.each do |report| %>
  <%= link_to report_path(report) do %>
    <%= render 'report', report: report %>
  <% end %>
<% end %>
